<div class="row">
  <div class="col-auto">
    <h2>Welcome back {{name}}</h2>
  </div>
</div>

<div class="col-md-6 email-list">
  <h3>{{emails.length}} Saved emails:</h3>

    {{#each emails as |email|}}
    <div class="row mb-2">
      <div class="col-md-8">
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{email.id}}">REMOVE</button>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script src="./js/profile.js"></script>