header {
  position: relative;
}

div.container {
  padding: 50px;
}

button.header {
  position: absolute;
  right: 10px;
  top: 5px;
  margin-top: 30px;
}

#profile {
  margin-right: 90px;
  margin-top: 30px;
}

.form-label {
  margin-bottom: -0.5rem;
}

button.clean {
  background-color: darkblue;
  border-color: black;
}

button.copy {
  position: static;
  background-color: darkblue;
  border-color: black;
  margin-top: 10px;
}

div.cardOne {
  margin-top: 100px;
}
