header {
  position: relative;
}

div.container {
  padding: 50px;
}

button.header {
  position: absolute;
  right: 10px;
  top: 5px;
  margin-top: 30px;
}

#profile {
  margin-right: 90px;
  margin-top: 30px;
}

#homepage {
  position: relative;
  left: 620px;
}

.form-label {
  margin-bottom: -0.5rem;
}

button.clean {
  background-color: darkblue;
  border-color: black;
}

button.copy {
  background-color: darkblue;
  border-color: black;
  margin-top: 10px;
}

#bg-red {
  background-color: red;
  padding: 3px;
  font-weight: bolder;
  color:white;
}
#bg-orange {
  background-color: orange;
  padding: 3px;
  font-weight: bolder;
  color: black;
}
#bg-yellow {
  background-color: rgb(153, 153, 0);
  padding: 3px;
  font-weight: bolder;
  color: black;
}

#bg-lightgreen {
  background-color: rgb(60, 165, 60);
  padding: 3px;
  font-weight: bolder;
  color:white;
}

#bg-green {
  background-color: rgb(30, 109, 30);
  padding: 3px;
  font-weight: bolder;
  color:white;
}

#bg-darkgreen {
  background-color: rgb(0, 65, 0);
  padding: 3px;
  font-weight: bolder;
  color:white;
}